.description{

    color:white; 
    background: url(./Design.png);
     background-size: cover; /*Ajuste l'image pour couvrir toute la fenêtre */
    background-repeat: no-repeat;  /*Empêche la répétition de l'image*/
    background-position: center;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh; 
  

}
.img_titre{
margin: 5%;
    display:inline-flex;
    gap: 30px; 
}
.des{

    padding-top: 10%;
}