.trailer-container {
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    background-color: blue;
    background-image: url("https://cdn.pixabay.com/photo/2016/10/04/08/58/theater-1713815_1280.jpg") ; 
  }
  
  .trailer-background {
    background-size: cover;
    background-position: center;
  }
  
 