.App {
  text-align: center;
  color:azure;
  background-image: url("https://cdn.pixabay.com/photo/2016/10/04/08/58/theater-1713815_1280.jpg") ; 
  background-size: cover; /* Ajuste l'image pour couvrir toute la fenêtre */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  margin: 0%;
  /* padding: 0%; */
}